In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
global_font={'family' : 'NanumSquare Neo OTF Bold','size' : 12 , 'weight' : 'bold'}
#폰트설정
mpl.rc('font', **global_font)

In [2]:
people = pd.read_csv("datas/행정동별 월별 KT 유동인구.csv",encoding = "cp949")

In [3]:
people

,기준년월(STD_YM),행정동_코드(ADMI_CD),행정동_이름(ADMI_NM),성별(GENDER),연령대(AGE),유동인구_합계(POP_CNT)
0,201704,11500535,대림2동,F,6569,132396
1,201803,11590660,서초4동,M,4549,333412
2,201803,11410710,쌍문4동,M,70_ABOVE,84393
3,201603,11410520,논현1동,F,1519,674
4,201611,11740600,행당2동,F,3539,44638
...,...,...,...,...,...,...
495,201706,11215760,일원1동,F,3034,182240
496,201611,11110650,반포3동,M,1014,76940
497,201706,11470590,삼각산동,M,2024,121412
498,201706,11410700,방배4동,F,4549,89843
499,201608,11305645,대치4동,M,5054,126741

In [4]:
age_live = pd.read_csv("datas/행정동별 거주인구.csv",encoding = "cp949")
age_live

,기준년월(STD_YM),행정동코드(ADMI_CD),행정동명(ADMI_NM),성별코드(SEXDSTN_CD),연령대코드(AGRDE_CD),거주인구_수(RSPOP_CNT),시군구명(CTY_NM)
0,202005,11350640,번1동,1,1014,24,금천구
1,201204,11230730,용산2가동,1,7074,17,광진구
2,202105,11260690,등촌3동,2,3034,674,동대문구
3,201209,11500591,대림1동,2,5559,103,광진구
4,202106,11350560,삼청동,2,8084,1456,송파구
...,...,...,...,...,...,...,...
495,201204,11215840,우장산동,2,6064,751,송파구
496,201210,11500535,충현동,1,6569,5,마포구
497,202004,11545610,답십리2동,2,I00,8,성동구
498,201803,11410555,암사1동,2,5054,804,동작구
499,201610,11290590,응암1동,1,4044,314,종로구

In [19]:
age_live_a = age_live[['연령대코드(AGRDE_CD)','거주인구_수(RSPOP_CNT)','시군구명(CTY_NM)']]
age_live_a

    연령대코드(AGRDE_CD)  거주인구_수(RSPOP_CNT) 시군구명(CTY_NM)
0              1014                 24          금천구
1              7074                 17          광진구
2              3034                674         동대문구
3              5559                103          광진구
4              8084               1456          송파구
..              ...                ...          ...
495            6064                751          송파구
496            6569                  5          마포구
497             I00                  8          성동구
498            5054                804          동작구
499            4044                314          종로구

[500 rows x 3 columns]

In [110]:
live_space_gum = age_live_a["시군구명(CTY_NM)"] == age_live_a["시군구명(CTY_NM)"].unique()[1]
age_gum_people = age_live_a[live_space_gum]
age_gum_people

    연령대코드(AGRDE_CD)  거주인구_수(RSPOP_CNT) 시군구명(CTY_NM)
1              7074                 17          광진구
3              5559                103          광진구
32             1519                959          광진구
54             8084                510          광진구
66             8084               1220          광진구
113            6064               1327          광진구
151            3034                479          광진구
166            9094                325          광진구
214            2024                350          광진구
318            1519                585          광진구
355            4044               1417          광진구
370            6569                  7          광진구
380            8589                  6          광진구
409            3034               1556          광진구
410            9094                 75          광진구
416            0509                 74          광진구
424            0004                439          광진구
432            2024               1354          광진구
482            1014                367          광진구

In [164]:
live_index = age_live_a["시군구명(CTY_NM)"].unique()[0]
age_live_a["시군구명(CTY_NM)"].unique()

array(['금천구', '광진구', '동대문구', '송파구', '강서구', '동작구', '관악구', '마포구', '서초구',
       '양천구', '용산구', '노원구', '은평구', '성동구', '성북구', '구로구', '도봉구', '중구',
       '영등포구', '종로구', '중랑구', '서대문구', '강동구', '강북구', '강남구'], dtype=object)

In [334]:
live_space_gum = age_live_a["시군구명(CTY_NM)"] == age_live_a["시군구명(CTY_NM)"].unique()[24]
age_gum_people = age_live_a[live_space_gum]

In [335]:
age_gum_people

    연령대코드(AGRDE_CD)  거주인구_수(RSPOP_CNT) 시군구명(CTY_NM)
60             5559                106          강남구
96             0509                276          강남구
163            7579                901          강남구
164            2529                 13          강남구
192            1519                 37          강남구
225            3539                574          강남구
229            2024               1197          강남구
232            5559               1227          강남구
234            6569                779          강남구
240            3539                517          강남구
251            7579                369          강남구
252            3034               1009          강남구
259            6064                540          강남구
293            7074                  2          강남구
294            7579               1698          강남구
297            4549               1486          강남구
317            7579                275          강남구
320            0004                448          강남구
360            2529               1408          강남구
361            9094                693          강남구
374            6064               1500          강남구
384            8589                719          강남구
414             I00               1552          강남구
427            1519                284          강남구
471            4549                295          강남구

In [336]:
age_gum_people.loc[414,'연령대코드(AGRDE_CD)']='100'

In [337]:
a = age_gum_people['연령대코드(AGRDE_CD)'].astype('i')
age_gum_people[~((a>=2000)|(a<1000))]

    연령대코드(AGRDE_CD)  거주인구_수(RSPOP_CNT) 시군구명(CTY_NM)
192            1519                 37          강남구
427            1519                284          강남구

In [338]:
age_gum_people.index

Int64Index([ 60,  96, 163, 164, 192, 225, 229, 232, 234, 240, 251, 252, 259,
            293, 294, 297, 317, 320, 360, 361, 374, 384, 414, 427, 471],
           dtype='int64')

In [339]:
age_people_next = age_gum_people[~((a>=2000)|(a<1000))]

In [340]:
#age_people_next = age_gum_people.drop(((a>=2000)|(a<1000))==True)

In [341]:
age_people = age_people.append(age_people_next)
age_people

C:\Users\user\AppData\Local\Temp\ipykernel_6756\678604575.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_people = age_people.append(age_people_next)

    연령대코드(AGRDE_CD)  거주인구_수(RSPOP_CNT) 시군구명(CTY_NM)
0              1014               24.0          금천구
59             1519              583.0          금천구
32             1519              959.0          광진구
318            1519              585.0          광진구
482            1014              367.0          광진구
38             1519              449.0         동대문구
262            1014              319.0         동대문구
337            1014              522.0         동대문구
394            1519              109.0         동대문구
65             1014              581.0          송파구
212            1014              802.0          송파구
224            1014              430.0          송파구
243            1014               15.0          송파구
88             1014              814.0          강서구
94             1014              986.0          강서구
195            1014              427.0          동작구
343            1014              626.0          동작구
257            1014              348.0          관악구
18             1519             1118.0          마포구
281            1519              231.0          마포구
319            1014              220.0          양천구
440            1519             1838.0          용산구
377            1014               39.0          노원구
491            1519               31.0          노원구
250            1014              646.0          은평구
362            1519              104.0          은평구
418            1014             1039.0          은평구
227            1014              184.0          성북구
359            1014              112.0          성북구
477            1014              650.0          성북구
375            1519              722.0          구로구
133            1519                1.0          도봉구
171            1519              421.0          도봉구
239            1519             1408.0          도봉구
241            1014               12.0          도봉구
285            1519              689.0          도봉구
402            1519               99.0          도봉구
412            1519             1714.0          도봉구
481            1014             1310.0          도봉구
128            1519              969.0           중구
189            1519              133.0           중구
233            1014             1051.0           중구
34             1014              768.0         영등포구
405            1014                5.0         영등포구
295            1519              565.0          종로구
357            1014              489.0          종로구
114            1519              508.0          중랑구
123            1519              436.0         서대문구
351            1519             1048.0         서대문구
83             1014              591.0          강동구
201            1014              772.0          강북구
192            1519               37.0          강남구
427            1519              284.0          강남구

In [342]:
age_people.to_csv('student_place')

In [333]:
age_live.sort_values(by=['시군구명(CTY_NM)'])
a = age_live["시군구명(CTY_NM)"].value_counts().sort_values()
a

금천구     10
강동구     12
구로구     13
중랑구     14
동대문구    15
서초구     15
강북구     16
용산구     17
서대문구    18
성동구     18
광진구     19
마포구     19
동작구     19
관악구     20
강서구     20
노원구     20
중구      21
영등포구    21
은평구     22
종로구     22
양천구     24
도봉구     25
강남구     25
성북구     31
송파구     44
Name: 시군구명(CTY_NM), dtype: int64